@import url('./card-template.css');
@import url('./fonts.css');

html {
  background: #68acb2;
  background-repeat: no-repeat;
  background: linear-gradient(0deg, #68acb2 0%, #a26ffe 100%);
  background: -webkit-linear-gradient(0deg, #68acb2 0%, #a26ffe 100%);
}

body {
  background-color: unset;
}

.card-wrapper {
  margin: 40px auto;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  padding: 25px;
  padding-bottom: 200px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 11px 11px 10px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 11px 11px 10px 3px rgba(0, 0, 0, 0.15);
  box-shadow: 11px 11px 10px 3px rgba(0, 0, 0, 0.15);
}

button {
  width: 100%;
}
